.checkout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    
}

.checkout>button{
    height: 2rem;
    color: white;
    background-color: black;
    border-radius: 0.6rem;
    margin-left: 2rem;
    margin-right : 2rem;
    width: 10rem;
    height: 3rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

button:hover{
    
    background-color: grey;
    cursor: pointer;
}